<main class="shop-banner contact-banner">
    <h1>CONTACT</h1>
  </main>

<main class="contact-main">
  <div>
    <h3 style="color: rgb(25, 115, 189);">IT'S NOT ABOUT US</h3>
    <p> With combined years of expertise and experience, Ikon Weapons is proud Manufacturer FFL07 and Importer FFL09 of quality products. Every decision is inspired by our main mission, which is to provide the highest standard of product and the
      best customer service to our loyal customers.</p>
    <h3 style="color: rgb(230, 35, 70);">WHY IKON?</h3>
    <p>Our customers choose us because we provide leading technology, deliver unmatched services, craftsmanship, and offer some of the best value in the industry. Our approach to business has helped transform us from a small engineering upstart to
      a global provider of weapons solutions.</p>
    <h2>CONTACT US</h2>
    <p class="contact-footer">We are here to help you <br>
      please give us a call:
      <br>
      <strong>(843) 251-6488</strong><br>
      or email us at:<br>
      sales@ikonweapons.com
    </p>
  </div>
</main>