<div>Hi <%= @user.full_name %>,</div>
<div>
  Your Service Request has beed canceled successfully. To check details of your Service Request <%= link_to 'click Here', service_request_url(@service_request.id) %>
</div>